@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap");
.grid {
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar container cart';
  height: 100%; }

.category {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 46%;
  min-width: 300px;
  max-width: 450px; }

.category img {
  width: 100%; }

.category__content {
  padding: 25px; }

.category__link {
  color: #444;
  display: block;
  margin-bottom: 15px; }

.category__link:hover {
  color: #0000a4; }

.category__link:first-of-type {
  margin-top: 25px; }

.category__link:last-child {
  margin-bottom: 0; }

.sidebar {
  background-color: #fff;
  grid-area: sidebar; }

.sidebar__header {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0 10px; }

.sidebar__home {
  appearance: none;
  background-color: #0000a4;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 30px;
  height: 48px;
  margin-right: 10px;
  width: 48px; }

.sidebar__logo {
  color: #0000a4;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase; }

.navigation__content {
  align-items: center;
  border-radius: 0 25px 25px 0;
  border: 1px solid transparent;
  border-left: 4px solid transparent;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-right: 10px;
  padding: 0 10px;
  position: relative; }

.navigation__content:hover {
  background-color: #0000a411; }

.navigation__content:not(:only-child)::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #0000a4;
  content: '';
  height: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0; }

.navigation__icon {
  color: #0000a4;
  font-size: 18px;
  margin-right: 20px; }

.navigation__text {
  color: #0000a4;
  font-size: 18px;
  font-weight: 700; }

.navigation__item--active > .navigation__content {
  background-color: #0000a411;
  border-color: rgba(40, 100, 138, 0.08);
  border-left-color: #a9ffb4; }

.navigation__subitems {
  background-color: rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(40, 100, 138, 0.08);
  border-bottom: 1px solid rgba(40, 100, 138, 0.08); }

.navigation__subitems .navigation__subitems {
  background-color: transparent;
  border-top: none;
  border-bottom: none; }

.navigation__subitems .navigation__content {
  padding-left: 40px; }

.navigation__subitems .navigation__subitems .navigation__content {
  background-color: none;
  padding-left: 78px; }

.cart__open {
  background-color: rgba(0, 0, 164, 0.1);
  border-left: 1px solid #0000a440;
  display: flex;
  flex-direction: column;
  grid-area: cart;
  overflow: hidden;
  padding: 0 10px;
  color: #0000a4; }

.cart h2 {
  color: #0000a4; }

.cart__header {
  align-items: center;
  display: flex;
  height: 100px; }

.cart__item {
  border-bottom: 1px solid #0000a440;
  color: #0000a4;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 15px; }

.cart__item:last-child {
  border-bottom: none;
  margin-bottom: 0; }

.cart__remove {
  cursor: pointer;
  font-weight: 900; }

.cart__remove:hover {
  text-decoration: underline; }

.cart__footer {
  padding: 25px 0; }

.cart__container {
  flex-grow: 1;
  height: 100%;
  overflow: scroll; }

.movie__container__content {
  padding-left: 10px;
  height: calc(100% - 120px);
  overflow: auto; }

.movie__grid {
  display: grid;
  grid-template-columns: 0.6fr 0.75fr 0.55fr;
  grid-template-rows: 0.7fr;
  grid-template-areas: 'image container';
  margin-left: 10px;
  margin-bottom: 20px; }

.new__price__number::after {
  content: ',';
  display: inline-block; }

.old__price__number,
.old__price__decimal {
  color: #444444;
  text-decoration: line-through; }

.movie__image__container {
  width: 300px;
  height: 380px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #b3aaaa7a; }

.movie__image {
  height: 313.87px;
  width: 250px; }

.movie__price {
  color: #18b32c;
  grid-area: container;
  margin-left: 5%;
  font-weight: bold;
  font-size: 36px; }

.movie__description {
  margin-top: 60px;
  height: 322px;
  width: 402px;
  font-size: 14px;
  margin-left: 5%;
  grid-area: container; }

.movie__rating {
  margin-top: 10px;
  position: relative;
  width: 200px;
  left: -150px; }
  .movie__rating i {
    color: #ffca00;
    font-size: 20px; }
    .movie__rating i:nth-child(5) {
      color: #aaaaaa; }

.review__rating {
  display: flex;
  align-items: center; }
  .review__rating h2 {
    font-size: 50px;
    margin-right: 20px;
    color: #444444; }
  .review__rating i {
    color: #ffca00;
    font-size: 20px; }
    .review__rating i:nth-child(6) {
      color: #aaaaaa; }

.review__button {
  color: #0000a4;
  border-color: #0000a4;
  background-color: #fff; }

.review__summary {
  display: flex;
  align-items: center; }
  .review__summary h2 {
    color: #444444; }
  .review__summary .review__button {
    margin-left: 20px;
    height: 40px;
    width: 110px; }

.review__text {
  font-family: Baskerville;
  line-height: 27px;
  color: #0000a4;
  font-style: italic;
  font-size: 24px;
  height: 27px;
  width: 415px; }

.rating__bar-1 i {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 5px; }
  .rating__bar-1 i:nth-child(-n + 1) {
    color: #ffca00; }

.rating__bar-1::before {
  margin-left: 20px;
  display: inline-block;
  content: '';
  margin-bottom: 10px;
  height: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #aaaaaa calc(100% - (20% * 1)), #ffca00 calc(100% - (20% * 1)), #ffca00 calc(20% * 1)); }

.rating__bar-2 i {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 5px; }
  .rating__bar-2 i:nth-child(-n + 2) {
    color: #ffca00; }

.rating__bar-2::before {
  margin-left: 20px;
  display: inline-block;
  content: '';
  margin-bottom: 10px;
  height: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #aaaaaa calc(100% - (20% * 2)), #ffca00 calc(100% - (20% * 2)), #ffca00 calc(20% * 2)); }

.rating__bar-3 i {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 5px; }
  .rating__bar-3 i:nth-child(-n + 3) {
    color: #ffca00; }

.rating__bar-3::before {
  margin-left: 20px;
  display: inline-block;
  content: '';
  margin-bottom: 10px;
  height: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #aaaaaa calc(100% - (20% * 3)), #ffca00 calc(100% - (20% * 3)), #ffca00 calc(20% * 3)); }

.rating__bar-4 i {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 5px; }
  .rating__bar-4 i:nth-child(-n + 4) {
    color: #ffca00; }

.rating__bar-4::before {
  margin-left: 20px;
  display: inline-block;
  content: '';
  margin-bottom: 10px;
  height: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #aaaaaa calc(100% - (20% * 4)), #ffca00 calc(100% - (20% * 4)), #ffca00 calc(20% * 4)); }

.rating__bar-5 i {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 5px; }
  .rating__bar-5 i:nth-child(-n + 5) {
    color: #ffca00; }

.rating__bar-5::before {
  margin-left: 20px;
  display: inline-block;
  content: '';
  margin-bottom: 10px;
  height: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #aaaaaa calc(100% - (20% * 5)), #ffca00 calc(100% - (20% * 5)), #ffca00 calc(20% * 5)); }

html,
body {
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 32px;
  margin: 0; }

h2 {
  font-size: 28px;
  margin: 0; }

.button {
  background-color: #0000a4;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 120px; }

.button:hover {
  background-color: #000; }

.button--full {
  width: 100%; }

.container {
  grid-area: container;
  overflow: hidden;
  background-color: #f0f0f0; }

.container__header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 25px;
  color: #0000a4; }

.shopping-badge {
  display: none; }

.container__content {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: calc(100% - 100px);
  padding: 0 25px; }

.hamburger {
  display: none; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar container';
    height: 100%; }
  .container {
    background-color: #f0f0f0; }
  .cart {
    display: none; }
  .cart__open {
    display: block;
    position: absolute;
    background-color: #fff;
    color: #0000a4;
    width: 250px;
    right: 30px;
    top: 80px;
    padding: 10px;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1); }
    .cart__open::before {
      content: '';
      width: 0;
      height: 0;
      right: 20px;
      top: -10px;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid #fff; }
  .cart__header {
    height: 50px; }
  .cart__container {
    background-color: #fff; }
  .cart__footer {
    background-color: #fff;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center; }
  .cart__footer .button--full {
    width: 80%; }
  .navigation {
    padding-left: 6px; }
  .sidebar__logo {
    display: none; }
  .sidebar__header {
    padding: 0 8px; }
  .navigation__text {
    display: none; }
  .sidebar__home {
    margin-right: 0;
    padding-top: 2px; }
  .navigation__content:not(:only-child)::after {
    display: none; }
  .navigation__item .navigation__item--active .navigation__subitems {
    display: none; }
  .navigation__item--active > .navigation__content {
    border-color: transparent;
    background-color: #fff; }
  .shopping-badge {
    display: block;
    margin-left: 15px;
    font-size: 28px; }
  .shopping-badge::after {
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    background-color: #a9ffb4;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    margin-top: -11px;
    margin-left: 13px;
    font-size: 18px;
    border-radius: 50%;
    content: '1'; }
  .navigation__subitems .navigation__content {
    padding-left: 10px; }
  .navigation__subitems {
    border: none;
    background-color: #fff; }
  .category {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 25px;
    width: 300px; }
  .container__header h1 {
    display: flex;
    flex-grow: 1; } }

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'container';
    height: 100%;
    width: 100%; }
  .container {
    width: 100%; }
  .container__content {
    width: 100%;
    padding: 0 3% 0 3%;
    box-sizing: border-box; }
  .category {
    margin-right: 0; }
  .shopping-badge {
    display: block;
    margin-left: 15px;
    font-size: 28px; }
  .shopping-badge::after {
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    background-color: #a9ffb4;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    margin-top: -11px;
    margin-left: 13px;
    font-size: 18px;
    border-radius: 50%;
    content: '1'; }
  .cart__open {
    background-color: #fff;
    color: #0000a4;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1%;
    display: block;
    position: absolute;
    top: 7%;
    padding: 0 5% 5%;
    padding-right: 5%; }
  .cart__footer {
    background-color: #fff;
    padding: 0;
    display: flex;
    justify-content: center; }
    .cart__footer .button--full {
      width: 80%; }
  .cart__container {
    overflow: hidden;
    background-color: #fff; }
  .sidebar {
    display: none; }
  .container {
    background-color: #f0f0f0; }
  .container__content .category {
    margin-top: 8%;
    width: 100%;
    height: 100%; }
  .container__header h1 {
    display: flex;
    flex-grow: 1; }
  .container__header {
    padding: 0 5px;
    height: 10%;
    background-color: #fff; }
  .hamburger {
    font-size: 30px;
    display: block;
    padding-top: 1%; } }
